TIBCO_TUTORIAL/TibcoPractice/SOAP and Service/Shared Variables/Service/ConcreteAddSOAPWsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Created by TIBCO WSDL-->
<wsdl:definitions xmlns:tns="http://add.sayon.com/addImpl/SOAP_sp_and_sp_Service/Main_sp_Process" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://www.tibco.com/schemas/TibcoPractice/SOAP/Shared Variables/Schemas/Schema.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Untitled" targetNamespace="http://add.sayon.com/addImpl/SOAP_sp_and_sp_Service/Main_sp_Process">
    <wsdl:types>
        <xs:schema xmlns="http://www.tibco.com/schemas/TibcoPractice/SOAP/Shared Variables/Schemas/Schema.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.tibco.com/schemas/TibcoPractice/SOAP/Shared Variables/Schemas/Schema.xsd" elementFormDefault="qualified" attributeFormDefault="unqualified">
            <xs:element name="a" type="xs:int"/>
            <xs:element name="add">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:addRequest"/>
                        <xs:element ref="ns0:addResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:a"/>
                        <xs:element ref="ns0:b"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element ref="ns0:op"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="b" type="xs:int"/>
            <xs:element name="op" type="xs:int"/>
        </xs:schema>
    </wsdl:types>
    <wsdl:service name="AddSoapService">
        <wsdl:port name="SOAPEventSource" binding="tns:SOAPEventSourceBinding">
            <soap:address location="http://localhost:9090/SOAP%20and%20Service/Main%20Process/AddSoapService"/>
        </wsdl:port>
    </wsdl:service>
    <wsdl:portType name="AddPort">
        <wsdl:operation name="add">
            <wsdl:input message="tns:addRequest"/>
            <wsdl:output message="tns:addRespone"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SOAPEventSourceBinding" type="tns:AddPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <soap:operation style="document" soapAction="/SOAP/Main%20Process/SoapProcess"/>
            <wsdl:input>
                <soap:body use="literal" parts="addRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="addResponse"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="addRequest">
        <wsdl:part name="addRequest" element="ns0:addRequest"/>
    </wsdl:message>
    <wsdl:message name="addRespone">
        <wsdl:part name="addResponse" element="ns0:addResponse"/>
    </wsdl:message>
</wsdl:definitions>